@import 'reset';

body {
	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 3px;
	}

	&::-webkit-scrollbar-track {
		background: #676767a7
	}

	&::-webkit-scrollbar-thumb {
		background-color: #fff;
		border-radius: 20px;
	}
}

.app {
	font-family: 'Roboto', sans-serif;
}
