.Input {
	height: 50px;
	background: linear-gradient(92.01deg, #ffffff05 -8.99%, #ffffff24 101.74%);
	backdrop-filter: blur(20px);
	border: 2px solid #ffffff81;
	border-radius: 5px;
	color: #e9e9e9f4;
	outline: none;
	padding: 15px 20px;

	&::placeholder {
		color: #d2d2d2c3;
	}
}

.readonly {
	cursor: auto;
	opacity: 0.7;
}

.searchOffForSelect {
	cursor: pointer;
}
