.FormPage {
	min-height: 100vh;
	background: url(shared/assets/images/background.jpg) center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 5px;
}